/* angepasste reset css */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* entspricht genau 10px und ist einfacher zum skalieren */
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}